<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .title-box {
            background-color: #520202;
            color: #ffffff;
            text-align: center;
            padding: 10px;
            border-radius: 8px 8px 0 0;
            margin-bottom: 20px;
        }

        .title {
            font-family: 'Arial Black', sans-serif;
            font-size: 24px;
            margin: 0;
        }

        form {
            text-align: center;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            background-color: #e74c3c;
            color: #ffffff;
            cursor: pointer;
        }

        button:hover {
            background-color: #c0392b;
        }

        .other-action {
            text-align: center;
            margin-top: 10px;
        }

        .other-action a {
            text-decoration: none;
            color: #555555;
            background-color: #dddddd; /* Gray background */
            padding: 10px 20px; /*  Adjust padding for button-like appearance */
            border-radius: 5px; 
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="title-box">
            <h1 class="title">Project Navigator</h1>
        </div>
        <form action="/login" method="post">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="other-action">
            <a href="/signup">Signup Instead</a>
        </div>
    </div>
</body>
</html>
